@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tektur:wght@400..900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tektur:wght@400..900&family=Ubuntu+Condensed&family=Unbounded:wght@200..900&display=swap');
/* .rubik-dirt-regular {
font-family: "Rubik Dirt", system-ui;
font-weight: 400;
font-style: normal;
} 
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.unbounded-<uniquifier> {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

/* ЦВЕТА ВЫДЕЛЕНИЯ */
h1::selection{
    background-color: #576ead;
}
h2::selection{
    background-color: #576ead;
}
h3::selection{
    background-color: #576ead;
}
h4::selection{
    background-color: #576ead;
}
h5::selection{
    background-color: #576ead;
}
h6::selection{
    background-color: #576ead;
}
p::selection{
    background-color: #a8ad57;
}
img::selection{
    background-color: #b6b898;
}
a::selection{
    background-color: #a8ad57;
}
b::selection{
    background-color: #a8ad57;
}



/* СВЕТЛАЯ ТЕМА */
body {
    background-color: rgb(68, 68, 68);
    background-image: url(https://i.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg);
}

header {
    
    background-color: #63dfab;
    border-radius: 10px;
    /*padding: 1px;*/
    position: sticky;
    top: 5px;
    z-index: 1;
}

footer {
    color: rgb(154, 158, 157);
    background-color: rgb(54, 54, 54);
    border-radius: 8px;
}

section {
    color: rgb(0, 255, 0);
    background-color: #439774;
    border-radius: 10px;
}

article {
    background-color: #439774;
    border-radius: 10px;
}

h1 {
    color: #ffffff;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h3 {
    background-color: #35795c;
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 1px;
    border-radius: 8px;
    position: sticky;
    top: 52px;
    padding-inline: 10px;
}

h4 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h5 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h6 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    color: rgb(7, 27, 13);
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-inline: 15px;
    padding-bottom: 10px;
}

a {
    color:rgb(0, 79, 143);
}

ul{
    color: rgb(7, 27, 13);
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

aside {
    color: rgb(0, 255, 0);
    background-color: rgb(118, 182, 132);
}

#footerNav{
    background-color: #2e2e2e;
    border-radius: 8px;
}

button{
    background: #8d8d8d;
    border-radius: 8px;
}

img{ 
    padding: 3px;
    border-radius: 10px;
}

iframe{
    padding: 3px;
    border-radius: 10px;
}

.pattern1{
    width: 200px;
    background-image: url(https://avatars.mds.yandex.net/i?id=2e2fc78a4818f3c0f28586e4305e0397_l-5210601-images-thumbs&n=13);
    padding: 3px;
    border-radius: 10px;
}


/* ТЁМНАЯ ТЕМА */
.dark body {
    background-color: rgb(68, 68, 68);
}

.dark header {
    background-color: #3f886a;
    border-radius: 10px;
    position: sticky;
    top: 5px;
    z-index: 1;
}

.dark footer {
    color: rgb(154, 158, 157);
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
}

.dark section {
    background-color: #25523f;
    border-radius: 10px;
}

.dark article {
    background-color: #25523f;
    border-radius: 10px;
}

.dark h1 {
    color: #ffffff;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark h2 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark h3 {
    background-color: #336e56;
    color: #9da397;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 1px;
    border-radius: 8px;
    position: sticky;
    top: 52px;
    padding-inline: 10px;
}

.dark h4 {
    color: rgb(145, 161, 145);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark h5 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark h6 {
    color: rgb(37, 39, 37);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark p {
    color: rgb(123, 146, 130);
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-inline: 15px;
    padding-bottom: 10px;
}

.dark a {
    color:rgb(1, 126, 228);
}

.dark em{
    color:rgb(145, 161, 145)
}

.dark ul{
    color: rgb(158, 167, 161);
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dark aside {
    color: rgb(0, 70, 0);
    background-color: rgb(118, 182, 132);
}

.dark #footerNav{
    background-color: #2e2e2e;
    border-radius: 8px;
}

.dark img{ 
    padding: 3px;
    border-radius: 10px;
}

.dark iframe{
    padding: 3px;
    border-radius: 10px;
}
